<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
	{% block title -%}
		{% if title -%}
    		<title>Сокращатель ссылок - {{ title }}</title>
		{% else -%}
			<title>Сокращатель ссылок</title>
		{% endif %}
	{% endblock -%}
</head>
<body>
	{% block content -%}
		{% block menu -%}
    		<nav class="nav">
				<div class="nav__title"><a href="/">Сокращатель</a></div>
				<ul class="nav__list">
					{% for m in menu -%}
						<li class="nav__item"><a href="{{m.url}}">{{m.name}}</a></li>
					{% endfor -%}
				</ul>
			</nav>
		{% endblock -%}

		{% if title -%}
    		<h1>{{ title }}</h1>
		{% else -%}
			<h1 align="center">Сокращатель ссылок</h1>
		<div class="containers">
			<form class="container" action="/" method="post">
				
				{% for msg in get_flashed_messages() -%}
				  <h3 class="flash">{{msg}}</h3>
				{% endfor -%}
				<div class="inputs">
				  <p><input class="input" type="text" name="link" placeholder="URL"></p>
				  <input class="button" type="submit" value="Сократить">
				</div>
			</form>
		</div>
		{% endif -%}
	{% endblock -%}
</body>
</html>