{% extends 'index.html' -%}
  {% block content -%}
  {{ super() }}
  
    <form class="container" action="" method="post">
        <div class="brand-title">Авторизация</div>
        {% for msg in get_flashed_messages() -%}
        <h2 class="flash">{{msg}}</h2>
        {% endfor -%}
        <div class="inputs">
          <p><input class="input" type="text" name="login" placeholder="Login"></p>
          <p><input class="input" type="text" name="password" placeholder="Password"></p>
          <p><label for="remainme"><input type="checkbox" id="remainme" name="remainme"> Запомнить меня</label></p>
          <input class="button" type="submit">
          <p><a href="/register">Регистрация</a></p>
        
      </div>
    </form>
  {% endblock -%}